.welcome-body{
    color:black;
    text-align: center;
}


.welcome-text{
    font-size: 80px;
    text-align: center;
    padding:30px;
    margin:auto;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.kendall-gif{
    display: block;
    margin: auto;
    padding: 30px;
}

.loginText{
    font-size: 80px;
    text-align: center;
    padding:30px;
    margin:auto;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


