.welcome-body{
    color:black;
    text-align: center;
}


.welcome-text{
    font-size: 80px;
    text-align: center;
    padding:30px;
    margin:auto;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.kendall-gif{
    display: block;
    margin: auto;
    padding: 30px;
}

.loginText{
    font-size: 80px;
    text-align: center;
    padding:30px;
    margin:auto;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.loginButton{
    background-image: linear-gradient(to bottom right, #1DB954 , #0e8f3b);
    color: white;
    text-shadow: black 0px 0px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
    display: block;
    border-radius: 12px;
    padding: 20px;
    margin: auto;
}

.loginButton:hover{
    background-image: linear-gradient(to bottom right, #70d493 , #52db82);
    border-color: black;
}


