* {
    box-sizing: border-box;
}


body{
    background-color: rgb(255, 255, 255);
    margin:0;
    padding: 0;
}


.navbar {
    background-color: #000000;
    background-image: linear-gradient(to bottom right, #000000 , #1a1b1b);
    padding: 10px;
    box-shadow: 0 2px 3px gray, 0 0 0 1px gray; 
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}




.navbar-brand {
    padding-left: 20px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  /* text-shadow: white 2px 0px 15px; */
}

.brand-link {
    text-decoration: none;
    color: white;
}

.brand-link:visited {
    color: white;
}

.brand-link:active {
    text-decoration: underline;
}






.navbar-links {
    display: flex;
    gap: 50px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* text-shadow: white 2px 0px 15px; */
    font-weight: bold;
}

.nav-link {
    padding: 10px;
    text-decoration: none;
    color: white
}

.nav-link:visited {
    color: white;
}

.nav-link:active {
    text-decoration: underline;
}

