body{
    background-color: white;
    margin:0;
    padding: 0;
}


.navbar {
    background-color: #1DB954;
    background-image: linear-gradient(to bottom right, #1DB954 , #0e8f3b);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 3px gray, 0 0 0 1px gray; 
}




.navbar-brand {
    padding-left: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
  /* text-shadow: white 2px 0px 15px; */
}

.brand-link {
    text-decoration: none;
    color: black
}

.brand-link:visited {
    color: black;
}

.brand-link:active {
    text-decoration: underline;
}






.navbar-links {
    display: flex;
    gap: 50px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* text-shadow: white 2px 0px 15px; */
    font-weight: bold;
}

.nav-link {
    padding: 10px;
    text-decoration: none;
    color: black
}

.nav-link:visited {
    color: black;
}

.nav-link:active {
    text-decoration: underline;
}

